<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Home - EFDA</title>
    <link rel="stylesheet" href="/bootstrap/bootstrap1.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Kaushan+Script"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700"
    />
    <link rel="stylesheet" href="/Fonts/font-awesome.min.css" />
  </head>

  <body id="page-top">
    <nav
      class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark"
      id="mainNav"
    >
      <div class="container">
        <a class="navbar-brand" href="#page-top">Ethiopian Food and Drug
          Administration</a><button
          data-toggle="collapse"
          data-target="#navbarResponsive"
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toogle="collapse"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="nav navbar-nav ml-auto text-uppercase">
            <li class="nav-item" role="presentation">
              <a class="nav-link js-scroll-trigger" href="/">Home</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link js-scroll-trigger" href="/Login">Import</a>
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link js-scroll-trigger"
                href="/Admin-login"
              >Admin</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <header class="masthead bg-dark">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">
            <span>Ethiopian Food and Drug Administration</span>
          </div>
          <div class="intro-heading">
            <span>The Ethiopian Food and Drug Administration (EFDA) oversees the
              market authorization and import permit approval for both medical
              and food products for a wide variety of vendors from multiple
              countries using the Electronic Regulatory Information System.
              Fully online, both applicants and EFDA use this system to manage
              the licensing, registration, and import application process using
              this shared portal</span>
          </div>
          <a
            class="btn btn-primary btn-xl text-uppercase js-scroll-trigger"
            role="button"
            href="/Login"
          >Log In</a>
        </div>
      </div>
    </header>
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="text-uppercase section-heading">Services</h2>
            <h3 class="text-muted section-subheading"></h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x"><i
                class="fa fa-circle fa-stack-2x text-primary"
              ></i><i
                class="fa fa-shopping-cart fa-stack-1x fa-inverse"
              ></i></span>
            <h4 class="section-heading">I-Licence</h4>
            <p class="text-muted">
              Allows importers, exporters, wholesalers and manufacturers to
              apply for the certificate of competency and EFDA staff to manage
              these applications online.
            </p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x"><i
                class="fa fa-circle fa-stack-2x text-primary"
              ></i><i class="fa fa-laptop fa-stack-1x fa-inverse"></i></span>
            <h4 class="section-heading">I-Register</h4>
            <p class="text-muted">
              Allows importers to apply for and receive medicine registration
              certificate to import medicines online and EFDA staff to manage
              these applications online.
            </p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x"><i
                class="fa fa-circle fa-stack-2x text-primary"
              ></i><i class="fa fa-lock fa-stack-1x fa-inverse"></i></span>
            <h4 class="section-heading">I-Import</h4>
            <p class="text-muted">
              Allows importers to apply for and receive permits to import
              medicines,medical devices and food online and EFDA staff to manage
              these applications online.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section
      id="contact"
      style="background-image: url('assets/img/map-image.png')"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="text-uppercase section-heading">Contact Us</h2>
            <h3 class="section-subheading text-muted">
              We are here for you, if you have any questions or suggestions
              share it with us.
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <form action="/auth/Home-EFDA" method="POST">
              <div class="form-row">
                <div class="col col-md-6">
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      name="fullName"
                      id="name"
                      placeholder="Your Name *"
                      required=""
                    /><small
                      class="form-text text-danger flex-grow-1 help-block lead"
                    ></small>
                  </div>
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="email"
                      name="email"
                      id="email"
                      placeholder="Your Email *"
                      required=""
                    /><small
                      class="form-text text-danger help-block lead"
                    ></small>
                  </div>
                  <div class="form-group">
                    <input
                      class="form-control"
                      name="phoneNumber"
                      type="tel"
                      placeholder="Your Phone *"
                      required=""
                    /><small
                      class="form-text text-danger help-block lead"
                    ></small>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <textarea
                      class="form-control"
                      id="message"
                      name="message"
                      placeholder="Your Message *"
                      required=""
                    ></textarea><small
                      class="form-text text-danger help-block lead"
                    ></small>
                  </div>
                </div>
                <div class="col">
                  <div class="clearfix"></div>
                </div>
                <div class="col-lg-12 text-center">
                  <button
                    class="btn btn-primary btn-xl text-uppercase"
                    id="send"
                    type="submit"
                  >
                    Send Message
                  </button>
                  {{#if Success}}
                    <p class="text-success mt-4">{{Success}}</p>
                  {{/if}}
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="row" id="page-bottom">
          <div class="col-md-4">
            <span class="copyright">Copyright&nbsp;© Brand 2022</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#page-bottom"><i class="fa fa-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#page-bottom"><i class="fa fa-facebook"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#page-bottom"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li>
                <span class="copyright">Medhn Developers Team, 2022</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>